doctype html
html
    head
        meta(charset="utf-8")
        meta(name="yandex-verification" content="eeb0385fc8fbb80c")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        meta(name="description" content="ремонт персональной электроники ремонт телефонов установка антенн, " +
        "спутниковое ТВ, заправка принтеров")
        link(rel="shortcut icon" href="/favicon.png" type="image/png")
        title
            block title
    body
        .grid-y.grid-frame
            block header
            .cell.auto.cell-block-container.wcap.content-wrap
                .fone
                //medium-cell-block-container делает блок флексом и разворачивает
                //  направление по вертикали
                //medium-cell-block-y делает overflow-y: auto
                 и min и max высоту 100%
                block main
            block footer
                include footer
        .overlay
        .case.grid-x
            .dialog#call_me.cell.medium-12.large-6.xlarge-4
            #tpl-call_me.tpl
                span(data-action="closePopUp:this").dialog__close
                    i &#x2715;
                h5.dialog__title Ваше сообщение:
                form
                    textarea.message-box(name="body" autofocus='autofocus' rows=10 required placeholder="Ваш вопрос" +
                    " или номер телефона для обратной связи...")
                    input(type="text" name="select" value="sender" hidden)
                    input(type="text" name="mode" value="sendMail" hidden)
                    button(type="submit button" data-action="sendMessage:this").success.button Отправить
                        i &#xf1d9;
                .terms
                    | Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных и соглашаюсь c
                    |
                    a(href="#" data-action="openPopUp:policy").dialog__trigger политикой конфиденциальности
            .dialog#empty.cell.medium-12.large-6.xlarge-4
            #tpl-empty.tpl
                span(data-action="closePopUp:this").dialog__close
                    i &#x2715;
                .grid-container
                    .cell.h5.dialog__title Материалы готовятся
                    p.cell.margin-vertical-1 просьба, уточнять условия услуги, по телефону.
                    button(type="button" data-action="closePopUp:this").button.small.large.expanded Закрыть
            include policy
            +policy('it‑tisul.info', 'policy')
