#main_middle_block.grid-x.grid-padding-x.align-center
    .cell.large-9.grid-x
        #logo.cell.large-4
            .grid-x.padding-left-2.padding-top-3
                a(href="/").cell.shrink
                    img(src="../assets/images/logonew.png" alt="Сервис по ремонту автомобилей BMW" title="Сервис по ремонту автомобилей BMW")
                .grid-x.cell.auto.align-self-bottom
                    img(src="../assets/images/logo_bz.jpg" alt="BMW Запад" title="BMW Запад")
                    span.h8.line-heght-normal Тюнинг, обслуживание и ремонт BMW

        nav#mob_menu.cell.hide-for-medium
            div.topmeadmenu
                ul.menu_top.head.menu
                    li
                        a(href="") Блог
                    li
                        a(href="") Галерея
                    li
                        a(href="") О сервисе
                    li
                        a(href="") Услуги
                    li
                        a(href="") Контакты
            div#close_mob_menu

        #service_bmw.cell.large-3.grid-y.align-center
            h4.text-center.text-uppercase Сервис BMW
            div.grid-x.bordered-side
                #left_wing.cell.small-4.outline-crimson.grid-y.align-items-end.justify-content-between
                    div.top_feather.cell.shrink.bgr-mediumaquamarine.width-75
                    div.middle_feather.cell.shrink.width-50.bgr-olive
                    div.bottom_feather.cell.shrink.width-25.bgr-slategrey
                div.cell.auto.outline-blue.n-1.text-center №1
                #right_wing.cell.small-4.outline-crimson.grid-y.align-items-start.justify-content-between
                    div.top_feather.cell.shrink.width-75
                    div.middle_feather.cell.shrink.width-50
                    div.bottom_feather.cell.shrink.width-25

        div#header_contacts.cell.large-5.grid-y.align-items-end.justify-content-center
            a(href="")
                p.telephone.icon-phone.margin-0 +7 (495) 133-39-04
            p.address.icon-location-1.margin-0 г. Москва, Можайское шоссе, вл167
            div.topmeadmenu.margin-0
                ul.menu.menu_tophead.no-bullet.outline-crimson.grid-x.align-center
                    li
                        a(href="") Блог
                    li
                        a(href="") Галерея
                    li
                        a(href="") О сервисе
                    li
                        a(href="") Услуги
                    li
                        a(href="") Контакты



