@import '../variables.scss';
@import "./foundation-sites/settings";

body, a{
  color: #092f0f;
  background-color: #bbc9d8;
}

// ----------- dev-helpers start -----------------

.large-4 {
  outline: $outline-crimson;
}

span {
  outline: $outline-blue;
}

.grid-x{
  outline: $outline-whitesmoke;
}

.outline-crimson {
  outline: $outline-crimson;
}

.outline-white {
  outline: $outline-whitesmoke;
}

.outline-blue {
  outline: $outline-blue;
}

.outline-green {
  outline: $outline-green;
}

.bgr-olive{
  background-color: olive;
}

.bgr-grey{
  background-color: grey;
}

.bgr-mediumaquamarine{
  background-color: mediumaquamarine;
}

.bgr-slategrey{
  background-color: slategrey;
}


// ----------- dev-helpers end -----------------

//@include dev($dev) {
//  .wcap:before {
//    content: 'small';
//    color: yellow;
//    position: absolute;
//    top: 0;
//    left: 50%;
//  }
//}
//
@include breakpoint(large) {
  #main_middle_block{
    height: 150px;
  }
}

.n-1{
  font-size: 40px;
}

.top_feather, .middle_feather, .bottom_feather{
  border-bottom: solid 1px white;
}
// ----------- flex-helpers start -----------------
.align-items-end{
  align-items: flex-end;
}

.align-items-start{
  align-items: flex-start;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

// ----------- flex-helpers end -----------------


// ----------- text-helpers start -----------------

.line-heght-inherit{
  line-height: inherit;
}

.line-heght-normal{
  line-height: normal;
}

// ----------- text-helpers end -----------------

.address{
  font-size: 19px;
}

.telephone{
  font-size: 24px;

}

.menu_tophead li{
  padding: 5px 10px;
}

.bordered-side{
  border: solid white;
  border-width: 0 1px;
}