
.icon-phone:before { content: '\e800'; } /* '' */
.icon-phone-1:before { content: '\e801'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-phone-2:before { content: '\e803'; } /* '' */
.icon-call:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-location-1:before { content: '\e806'; } /* '' */
.icon-location-circled:before { content: '\e807'; } /* '' */
.icon-location-3:before { content: '\e808'; } /* '' */
.icon-location-alt:before { content: '\e809'; } /* '' */
.icon-location-outline:before { content: '\e80a'; } /* '' */
.icon-location-2:before { content: '\f031'; } /* '' */